body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.navigation{
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul>li{
    list-style-type: none;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}
ul>li:hover{
    transform: scale(.95);
    transition: all .3s linear;
    box-shadow: 0 0 20px white;
    background-color: rgb(62, 58, 58);
}
ul>li>a{
    color: white;
    text-decoration: none;
}
ul>li>a:hover{
    color: white;
    text-decoration: underline;
}
body>a{
    color: white;
    text-decoration: 2px solid dotted;
    margin-top: 20px;

}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form>input[type='text']{
    padding: 3px;
    margin: 5px;
    outline:none;
    border: none;
    box-shadow: 0 0 2px white;
}
form>input[type='password']{
    padding: 3px;
    margin: 5px;
    outline:none;
    border: none;
}
form>input[type='submit']{
    padding: 3px;
    margin-top: 10px;
    outline:none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    background-color: black;
    color: white;
}
form>input[type='submit']:hover{
    transform: scale(.97);
    transition: all .3s linear;
    box-shadow: 0 0 20px white;
    background-color: rgb(62, 58, 58);
    text-decoration: underline;
}
